@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 20px;
    font-family:"Playfair Display", serif;
    line-height: 1.5;
    font-family: "Playfair Display",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}


@media (min-width: 1000px) {

    main {
        width: 90%;
        margin: 0 auto;
        border: 1px solid #aaa;
        display: flex;
        flex-direction: row;

    }

    header {
        background-image: url(../img/dogwalker.jpg);
        background-size: cover;
        background-position: left;
    }

    img {
        width: 30%;
    }

    h1 {
        font-size: 3rem;
        font-weight: 600;
        color: hsl(0, 0%, 57%);
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
    }

    input {
        display: flex;
        flex-direction: row;
        height: 25px;
        width: 200px;
    }

    div:first-of-type {
        grid-column: 1/ span 2;
        padding: 10px;
    }

    div:nth-of-type(even) {
        padding: 10px;
        grid-column: 1;

    }

    div:nth-child(3) {
        padding: 10px;
        grid-column: 2;
    }

    div:nth-child(5) {
        padding: 10px;
        grid-column: 2;
    }

    div:nth-child(7) {
        grid-column: 2;
        position: relative;
    }

   button {
        height: 30px;
        width: 90px;
        color: black;
        margin-left: 150px;
        margin-top: 20px;
        background-color: hsl(345, 61%, 86%);

    }

}

@media (min-width: 600px) and (max-width:999px) {


    main {
        width: 90%;
        margin: 0 auto;
        border: 1px solid #aaa;

    }


    header {
        background-image: url(../img/dogwalker.jpg);
        background-size: cover;
        height: 20rem;
    }

    img {
        width: 20%;
        float: right;
        padding: 10px;
    }

    h1 {
        font-size: 3rem;
        float: right;
        color: hsl(0, 0%, 57%);
    }


    input {
        display: flex;
        flex-direction: row;
        height: 25px;
        width: 200px;
    }
    
    form {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        padding: 20px;
    }


    div:first-of-type {
        grid-column: 1/ span 2;
        padding: 10px;
    }

    div:nth-of-type(even) {
        padding: 10px;
        grid-column: 1;

    }

    div:nth-child(3) {
        padding: 10px;
        grid-column: 2;
    }

    div:nth-child(5) {
        padding: 10px;
        grid-column: 2;
    }

    div:nth-child(7) {
        grid-column: 2;
        position: relative;
    }

    button {
        height: 30px;
        width: 90px;
        color: black;
        margin-left: 150px;
        margin-top: 20px;
        background-color: hsl(345, 61%, 86%);

    }

}

@media (max-width: 599px) {
    main {
        width: 90%;
        margin: 0 auto;
        border: 1px solid #aaa;

    }


    header {
        background-image: url(../img/dogwalker.jpg);
        background-size: cover;
        height: 20rem;
    }

    img {
        width: 20%;
        float: right;
    }

    h1 {
        font-size: 3rem;
        color: hsl(0, 0%, 57%);
    }

    .form-box {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-gap: 20px;
        padding: 20px;
    }

    input {
        padding: 10px;


    }

   button {
        height: 30px;
        width: 90px;
        color: black;
        margin-left: 150px;
        margin-top: 20px;
        background-color: hsl(345, 61%, 86%);

    }


}

input#min.price::after {
    content: "$"attr(data-price);
    display: block;
    margin-top: -1.5rem;
}

input.price#max::after {
    content: "$"attr(data-price);
    display: block;
    margin-top: -1.5rem;
}
}
